@charset "UTF-8";
/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img,
button {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}
input{
  border: none;
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
/*防止拖动*/
img {
  border: 0;
  vertical-align: middle;
}
/*  去掉图片低测默认的3像素空白缝隙*/
table {
  border-collapse: collapse;
}
body {
  font: 14px/150% "微软雅黑", Arial, Verdana, "\5b8b\4f53";
  color: #333;
  background: #ffffff;
  overflow-x: hidden;
  min-width: 1200px;
}
.red{
  color: #de0202!important;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}
a {
  color: #1d9eff;
  text-decoration: none;
  cursor: pointer;
}

p {
  color: #333;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
b,
s,
i,
em {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}
/*公共类*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.hide {
  display: none;
}
/* 公用样式 */
.w1000 {
  width: 1000px;
  margin: 80px auto 0;
  background: #fff;
  padding-bottom: 80px;
}
.w1200{
  width: 1200px;
  margin: 0 auto;
}
.orange {
  color: #ff8a00;
}
.blue{
 color: #1d9eff;
}
.black {
  color: #000;
}
.gray {
  color: #666;
}
.mr20 {
  margin-right: 20px;
}
.fz12 {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
.bg-orange {
  background: #ff8a00!important;
}
.m0 {
  margin: 0!important;
}
.b0{
  border: none!important;
}
.fz16{
  font-size:16px!important;
}
.mt20{
  margin-top:20px;
}
.mt30{
  margin-top:30px;
}


/*错误提示信息*/
label.cur{
  position: absolute;
  left: 0;
  top: 40px;
  font-size:12px;
  color: #de0202;
}
/* 页头和页脚 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: #292929;
  z-index: 9999;
  min-width: 1200px;
}
.header h1 {
  width: 284px;
  height: 36px;
  background: url(../images/logo.png) no-repeat;
  position: absolute;
  left: 50px;
  top: 25px;
}
.header .header-wrap .nav {
  float: right;
  padding-right:60px;
}
.header .header-wrap .nav li {
  float: left;
  margin-right: 50px;
  position: relative;
  color: #fff;
}
.header .header-wrap .nav li.cur a {
  color: #ff8a00;
  border-bottom: 2px solid #ff8a00;
  padding-bottom: 10px;
}
.header .header-wrap .nav li a {
  color: #fff;
}
.header .header-wrap .nav li a:hover{
  color: #ff8a00;
}
.header .header-wrap .nav li:hover dl{
  display: block;
}
.header .header-wrap .nav li dl {
  display: none;
  position: absolute;
  left: -38px;
  top: 80px;
  background: #292929;
}

.header .header-wrap .nav li dl.teshu{
  left:-53px;
}
.header .header-wrap .nav li.cur dl.teshu dt a{
  color: #fff;
  border-bottom: none;
}
.header .header-wrap .nav li dl.other {
  left: auto;
  right: 0;
}
.header .header-wrap .nav li dl dt {
  text-align: center;
  width: 110px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #808080;
  padding: 0 10px;
}

.header .header-wrap .nav li>a.router-link-active{
  color: #ff8a00;
  border-bottom: 2px solid #ff8a00;
  padding-bottom: 10px;
}
.header .header-wrap .nav li dl dt.last{
  border-bottom:none;
}
.footer-one {
  width: 100%;
  height: 100px;
  background: #292929;
}
.footer-one .footer-wrap {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
.footer-one .footer-wrap .footer-list {
  padding: 20px 0 10px;
  border-bottom: 1px solid #CCCCCC;
}
.footer-one .footer-wrap .footer-list a {
  color: #ccc;
  margin-right: 40px;
}
.footer-one .footer-wrap .footer-msg {
  padding-top: 10px;
  color: #ccc;
}
.footer-one .footer-wrap .footer-msg span {
  color: #ccc;
  margin-right: 20px;
}
.footer-two {
  width: 100%;
  background: #292929;
}
.footer-two .footer-content {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 40px;
}
.footer-two .footer-content li {
  float: left;
  padding-right: 100px;
  border-right: 1px solid #999;
}
.footer-two .footer-content li.center {
  padding-left: 60px;
}
.footer-two .footer-content li.right {
  padding-left: 60px;
  padding-right: 0px;
  border-right: none;
}
.footer-two .footer-content li.code{

  padding-right:0px;
  border: none;
  margin-left: 80px;
  margin-top:36px;
}
.footer-two .footer-content li.code div{
  width: 89px;
  height: 89px;
  margin: 0 auto;
  background: url(../images/code.png) no-repeat;
}
.footer-two .footer-content li.code p{
  color: #ccc;
  margin-top: 5px;
}
.footer-two .footer-content li dl dt {
  margin-bottom: 20px;
}
.footer-two .footer-content li dl dt a {
  color: #999999;
}
.footer-two .footer-content li h3 {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 10px;
}
.footer-two .footer-content li p {
  margin-bottom: 10px;
  color: #999999;
}
.footer-two .footer-content li h2 {
  padding: 50px 0 40px;
  font-size: 24px;
  color: #B3B3B3;
}
.footer-two .footer-content li h2 span {
  color: #A3855F;
}
.footer-two .footer-content li div {
  text-align: right;
}
.footer-two .footer-content li div span {
  display: inline-block;
  width: 130px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #8E8E8E;
  color: #999;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
}
.footer-one {
  width: 100%;
  height: 100px;
  background: #292929;
}
.footer-one .footer-wrap {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
.footer-one .footer-wrap .footer-list {
  padding: 20px 0 10px;
  border-bottom: 1px solid #666;
}
.footer-one .footer-wrap .footer-list a {
  color: #999;
  margin-right: 40px;
}
.footer-one .footer-wrap .footer-list a:hover{
  color: #ff8a00;
}
.footer-one .footer-wrap .footer-msg {
  padding-top: 10px;
  color: #ccc;
}
.footer-one .footer-wrap .footer-msg span {
  color: #999;
  margin-right: 20px;
}

.footer-two .footer-content {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 40px;
}
.footer-two .footer-content li {
  float: left;
  padding-right: 80px;
  border-right: 1px solid #666;
}
.footer-two .footer-content li.center {
  padding-left: 80px;
}
.footer-two .footer-content li.right {
  padding-left: 80px;
  padding-right: 0px;
  border-right: none;
}
.footer-two .footer-content li dl dt {
  margin-bottom: 12px;
}
.footer-two .footer-content li dl dt a {
  color: #999999;
}
.footer-two .footer-content li dl dt a:hover{
  color: #ff8a00;
}
.footer-two .footer-content li h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}
.footer-two .footer-content li p {
  margin-bottom: 6px;
  color: #999999;
}
.footer-two .footer-content li h2 {
  padding: 55px 0 40px;
  font-size: 24px;
  color: #B3B3B3;
}
.footer-two .footer-content li h2 span {
  color: #ff8a00;
}
.footer-two .footer-content li div {
  text-align: right;
}
.footer-two .footer-content li div span {
  display: inline-block;
  width: 130px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #8E8E8E;
  color: #999;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.footer-two .footer-content li div span:hover{
  color: #fff;
  background: #ff8a00;
  border: 2px solid #ff8a00;
}
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 199;
}
.look{
  color: #1d9eff;
  margin-left: 10px;
  cursor: pointer;
}
